.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Centered {
  align-items: center;
  justify-content: center;
}

.form {
  margin-top: 3rem;
}

.form-login {
  margin:auto;
  margin-top: 10%;
}

.card {
  margin:auto;
  width: 75%;
}

.card-title {
  text-align: start;
}

.card-body {
  margin:auto;
  margin-top: 2rem;
  width: 50vw;
}

.card-body-login {
  margin:auto;
  margin-top: 2rem;
  width: 25vw;
}

.card-body-regis {
  margin:auto;
  margin-top: 2rem;
  width: 25vw;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.nav-search {
  width: 50%;
  margin-top: 1rem;

}

.nav-button {
  display: flex;
  margin-top: 1rem;
} 

.nav-button .button{
  margin: 0 0.5rem;
} 

@media screen and (max-width: 600px) {

  .card {
    margin:auto;
    width: 90vw;
  }

  .card-body {
    margin:auto;
    width: 90vw;
  }

  .card-body-login {
    margin:auto;
    margin-top: 2rem;
    width: 90vw;
  }

  .card-body-regis {
    margin:auto;
    margin-top: 2rem;
    width: 90vw;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .nav-search {
    width: 100%;
    margin-bottom: 1rem;
  }

  .nav-button {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  } 

  .nav-button .button{
    margin: 0.5rem;
  } 

  .field {
    width: 90%;
  }

}
