.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Centered {
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.form {
  margin-top: 3rem;
}

.card {
  margin:auto;
  width: 75%;
}

.card-title {
  text-align: start;
  padding-bottom: 1rem;
}

.card-body {
  margin:auto;
  width: 50vw;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.nav-search {
  width: 50%;
}

.nav-button {
  display: flex;
} 

.nav-button .button{
  margin: 0 0.5rem;
} 

@media screen and (max-width: 600px) {

  .card {
    margin:auto;
    width: 90vw;
  }

  .card-body {
    margin:auto;
    width: 90vw;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .nav-search {
    width: 100%;
    margin-bottom: 1rem;
  }

  .nav-button {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  } 

  .nav-button .button{
    margin: 0.5rem;
  } 

}
